body {
  background-color: #393939;

}

.container {
  background-color: white;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 3px solid;
  border-color: #f3843e;
  border-radius: 6px;
}

th {
  text-align: left;
}
