<div class="container">
  <h2>GorillaCat Surveys</h2>
  <ul>
    <h3>Take a survey!</h3>
    <% @surveys.each do |survey| %>
      <li><a href="<%= survey.id%>"><%= survey.title%></a></li>
    <% end %>
  </ul>
   <form action="/create_survey">
    <input type="submit" value="Create a Survey">
  </form>
</div>




