<div class="container">
  <ul>
    <h3>Survey Results:</h3>
    <% @survey_results.each do |question| %>
      <li><%= question.title%><br>
        <% @survey_answer.each do |answer| %>
        <li><%= choice_result</li><br>
      </li>

    <% end %>
  </ul>


</div>

<!-- PSEUDEO

get survey_id

display each questions for that survey based on survey_id

display each answer for that question based on question_id -->