<div class="container">
<h3>Results for <%= @survey.title %>:</h3>
 <% @question.each do |question| %>
    Question:<br><%= question.content %>
    <% end %>
    <br><br>
    Possible choices:<br><% @choice.each do |choice| %>
    <%= choice.content %><br>
    <% end %>
    <br><br>
    User answers:

</div>