<div class="container">
  <h1>Sign In</h1>

  <form action="/user/log_in" method="post" >
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="e.g., me@example.com">
    <br>

    <label for="password">Password</label>
    <input type="password" name="password_hash" placeholder="potato">
    <br>

    <input type="submit" value="Sign In">
  </form>

</div>
