<div class="container">
    <h3><%= @survey.title %></h3>
    <% @question.each do |question| %>
    Question: <%= question.content %>
    <% end %>

    <br><br>
    
    <p>Your answer: <p>
     <form action="/take_survey/:id/question/:question_id" method="post">
    <% @choices.each_with_index do |choice, i| %>
   
      <input type="radio" name= "choice" value='<%="#{choice}" %>' > <%=choice.content%>
      <br>
    
    <% end %>
    <input type="submit" value="Submit">
    </form>
</div>

   <!--  <form id = "questionresponse">
    <label for "questionanswer">Response: </label>
    <textarea name= "questionanswer" rows="2" cols="50" placeholder = "Input your answer here"></textarea>
    </form> -->
