<div class="container">
    <h3><%= @survey.title %></h3>
    <% @question.each do |question| %>
    Question:<br><%= question.content %>
    <% end %>
    <br><br>
    Choices:<br><% @choice.each do |choice| %>
    <%= choice.content %><br>
    <% end %>
    <br>
    <a href="/surveys/<%= @survey.id %>/result">Survey Results</a>
</div>

   <!--  <form id = "questionresponse">
    <label for "questionanswer">Response: </label>
    <textarea name= "questionanswer" rows="2" cols="50" placeholder = "Input your answer here"></textarea>
    </form> -->
