<div class="take_survey">
<h3><%= @survey.id.title%></h3>
	<ul>
		<% @question.each do |questions| %>
			<li><%= question.content %>
			#for each question need to grab each possible answer

		<% end %>

	</ul>


</div>